<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tenhisi.web.cgs.mapper.CqsHomeinfoPeopleMapper">

    <resultMap type="CqsHomeinfoPeopleEntity" id="CqsHomeinfoPeopleResult">
        <result property="id" column="id"/>
        <result property="pid" column="pid"/>
        <result property="name" column="name"/>
        <result property="idcode" column="idcode"/>
        <result property="phone" column="phone"/>
        <result property="sex" column="sex"/>
        <result property="birthday" column="birthday"/>
        <result property="homeRelation" column="home_relation"/>
        <result property="nation" column="nation"/>
        <result property="household" column="household"/>
        <result property="domicile" column="domicile"/>
        <result property="eduLevel" column="edu_level"/>
        <result property="maritalState" column="marital_state"/>
        <result property="workUnit" column="work_unit"/>
        <result property="job" column="job"/>
        <result property="flags" column="flags"/>
        <result property="inputTime" column="input_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>
    
    <!--  实体栏位  --> 
    <sql id="cqsHomeinfoPeopleColumns">
         a.id AS "id" ,
         a.pid AS "pid" ,
         a.name AS "name" ,
         a.idcode AS "idcode" ,
         a.phone AS "phone" ,
         a.sex AS "sex" ,
         a.birthday AS "birthday" ,
         a.home_relation AS "homeRelation" ,
         a.nation AS "nation" ,
         a.household AS "household" ,
         a.domicile AS "domicile" ,
         a.edu_level AS "eduLevel" ,
         a.marital_state AS "maritalState" ,
         a.work_unit AS "workUnit" ,
         a.job AS "job" ,
         a.flags AS "flags" ,
         a.input_time AS "inputTime" ,
         a.del_flag AS "delFlag" ,
         a.create_by AS "createBy" ,
         a.create_time AS "createTime" ,
         a.update_by AS "updateBy" ,
         a.update_time AS "updateTime" ,
         a.remark AS "remark" 
    </sql>

    <!--  根据主键获取实体   -->
    <select id="findCqsHomeinfoPeopleById"  resultType="com.tenhisi.web.cgs.entity.CqsHomeinfoPeopleEntity" >
        SELECT
        <include refid="cqsHomeinfoPeopleColumns"/>
		FROM  cqs_homeinfo_people a
		WHERE a.id = '${id}'
    </select>

    <!--  根据身份证号码获取实体 todo 可能存在返回多个结果，目前用limit 1限制   -->
    <select id="findCqsHomeinfoPeopleByIdcode"  resultType="com.tenhisi.web.cgs.entity.CqsHomeinfoPeopleEntity" >
        SELECT
        <include refid="cqsHomeinfoPeopleColumns"/>
		FROM  cqs_homeinfo_people a
		WHERE a.idcode = ${idcode}
        LIMIT 1
    </select>

    <!--  根据获取实体List   -->
    <select id="findList" resultType="com.tenhisi.web.cgs.entity.CqsHomeinfoPeopleEntity">
        SELECT
        <include refid="cqsHomeinfoPeopleColumns"/>
        FROM cqs_homeinfo_people a
		<where>
            a.del_flag = '0'
            <if test="name != null  and name != ''">
                AND a.name LIKE
                CONCAT('%',#{name},'%')
            </if>
            <if test="pid != null  and pid != ''"> AND a.pid = #{pid} </if>
            <if test="idcode != null  and idcode != ''"> AND a.idcode = #{idcode} </if>
            <if test="phone != null  and phone != ''"> AND a.phone = #{phone} </if>
            <if test="sex != null  and sex != ''"> AND a.sex = #{sex} </if>
            <if test="birthday != null "> AND a.birthday = #{birthday} </if>
            <if test="homeRelation != null  and homeRelation != ''"> AND a.home_relation = #{homeRelation} </if>
            <if test="nation != null  and nation != ''">
                AND a.nation LIKE
                CONCAT('%',#{nation},'%')
            </if>
            <if test="flags != null  and flags != ''"> AND a.flags = #{flags} </if>
        </where>
    </select>

    <!-- 根据获取实体 page -->
    <select id="findPage" resultType="com.tenhisi.web.cgs.entity.CqsHomeinfoPeopleEntity">
        SELECT
        <include refid="cqsHomeinfoPeopleColumns"/>
        FROM cqs_homeinfo_people a
        <where>
            a.del_flag = '0'
            <if test="cqsHomeinfoPeople.name != null  and cqsHomeinfoPeople.name != ''">
                AND a.name LIKE
                CONCAT('%',#{cqsHomeinfoPeople.name},'%')
            </if>
            <if test="cqsHomeinfoPeople.idcode != null  and cqsHomeinfoPeople.idcode != ''"> AND a.idcode = #{cqsHomeinfoPeople.idcode} </if>
            <if test="cqsHomeinfoPeople.phone != null  and cqsHomeinfoPeople.phone != ''"> AND a.phone = #{cqsHomeinfoPeople.phone} </if>
            <if test="cqsHomeinfoPeople.sex != null  and cqsHomeinfoPeople.sex != ''"> AND a.sex = #{cqsHomeinfoPeople.sex} </if>
            <if test="cqsHomeinfoPeople.birthday != null "> AND a.birthday = #{cqsHomeinfoPeople.birthday} </if>
            <if test="cqsHomeinfoPeople.homeRelation != null  and cqsHomeinfoPeople.homeRelation != ''"> AND a.home_relation = #{cqsHomeinfoPeople.homeRelation} </if>
            <if test="cqsHomeinfoPeople.nation != null  and cqsHomeinfoPeople.nation != ''">
                AND a.nation LIKE
                CONCAT('%',#{cqsHomeinfoPeople.nation},'%')
            </if>
            <if test="cqsHomeinfoPeople.flags != null  and cqsHomeinfoPeople.flags != ''"> AND a.flags = #{cqsHomeinfoPeople.flags} </if>
            <if test = "sql_filter !=null and sql_filter!=''">
                AND ${sql_filter}
            </if>
        </where>
    </select>

</mapper>